<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- myBatis Oracle null 처리 : 아래 설정은 순서대로 처리 해야 오류가 없음 -->
	<settings>
		<setting name="cacheEnabled" value="true"/>		
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<!-- Model VO Alias 설정 -->		
	<typeAliases>
		<typeAlias type="com.gbdf.bdf.sys.model.Sys101100mVO" alias="Sys101100mVO"/>
	</typeAliases>	
	
</configuration>